/*arrangement. Conatainers first? */
/*write code clearly so img doesnt have to appear many times */
body {
  background-color: rgb(89, 89, 102);
}

.brand {
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 1000;
  text-decoration:underline;
  text-transform: uppercase;
  text-shadow: 4px 4px 5px rgb(88, 81, 81);
  line-height: 2;
  letter-spacing: 3px;
  ;
}

.box {
  font-size: 20px;
  /*color: white;*/
  padding: 10px;
  text-align:center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  box-sizing: border-box;
  width: 400px;
}

.box-1 {
  /*background: #e51400;*/
  flex-grow: 1;
  display: flex;
  /*align-items: center;
  justify-content: center; */
  align-self: center;
}

.box-1 ul {
  list-style-type: disc;
}

.box-2 {
  /*background: #fa6800;*/
}
.box-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-3 {
  /*background: #f0a30a;*/
}

.box-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-4 {
  /*background: #e3c800; */
}

.box-5 {
  /*background: #a4c400;*/
}

.box-5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-6 {
  /*background: #a9e450;*/
  align-self: flex-end;
}

.box-7 {
  /*background: #900c3f;
  flex-basis: 600px;*/
}

.box-7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-8 {
  /*background: #ff5733;*/
  flex-basis: 600px;
}

.box-8 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  LAYOUT STYLES */
.container, .container2, .container3 {
  display: flex;
  /*border: 8px solid black;*/
  height: 80vh;  
  justify-content: space-between;
}

/*.container2 {
  display: flex;
  border: 8px solid black;
  height: 80vh;  
  justify-content: space-around;
}

.container3 {
  display: flex;
  border: 8px solid black;
  height: 80vh;  
  justify-content: space-around;
}*/
